.inputBox{
    display: flex;
    flex-direction: column;
   
    gap: 0.5rem;
    padding: 13px;
    font-family: var(--font-family-primary);

    input {
        background: var(--grey-2);
        border-radius: 0.5rem;
        padding: 0 1rem 0 1rem;
        max-width: 19.625rem;
        height: 3.3rem;
        border: none;
        border-color: transparent;
        border: none;
    }

    input:focus{
        background: transparent;
        border: 1px solid var(--grey-4);
    }

   
}