.selectBox{
    display: flex;
    flex-direction: column;
   
    gap: 0.5rem;
    padding: 0.8125rem;
    font-family: var(--font-family-primary);

    select {
        background: var(--grey-2);
        border-radius: 0.5rem;
        padding: 0 1rem 0 1rem;
        
        height: 3.3rem;
        border-color: transparent;
        border: none;

    }

    select:focus{
        background: transparent;
        border: 1px solid var(--grey-4);
    }
}